extends layout

block content
    div.container
        //URL入力
        div.row
            form.col.s12.m12.l12
                div.row
                    div.col.s12.m10.l10
                        input#url(type="text", placeholder='放送URL')
                    div.col.s12.m2.l2
                        input.waves-effect.waves-light.btn(type='button', value="接続")
        //コメント欄
        div.row
            div.col.s12.m12.l12
                table
                    thead
                        tr
                            th(data-field='id') UserID
                            th(data-field='name') UserName
                            th(data-field='comment') Comment
                    tbody
                        tr
                            td 12234
                            td ふぇれっと
                            td ╮(´･ᴗ･` )╭
