extends layout

block header
    link(href="/css/index.css", rel="stylesheet")

block content
    div.content(style="height:100vh")
        div.container#app
            //URL入力
            div.row(style="margin:0")
                form.col.s12.m12.l12(method="post", action="./viewer", style="margin:0")
                    div.row(style="margin:0")
                        div.col.s12.m10.l10
                            input#url(type="text", placeholder='放送URL', name="url")
                        div.col.s12.m2.l2
                            input#submit.waves-effect.waves-light.btn(type='submit', value="接続")
            div.row(style="margin:0")
                div.col.s2.m2.l2
                    //放送コミュのサムネ表示
                    broadcast-img#owner_img
                div.col.s3.m3.l3
                    //放送者の名前表示
                    broadcast-name#owner_name
            div.row(style="margin:0")
                div.col.s12.m12.l12
                    //放送タイトルの表示
                    broadcast-title#broadcast_title
            div.row(style="margin:0")
                div.col.s12.m10.l10
                    //コメントの投稿欄
                    input#post_comment(type="text", placeholder="コメント", name="post_comment", v-on:keyup.enter="", onkeydown="submitComment();")
                div.col.s12.m2.l2
                    button#comment_submit.waves-effect.waves-light.btn 送信
            //コメント欄
            div.row
                div.col.s12.m12.l12
                    table
                        thead(style="display:block")
                            tr
                                th(data-field='id', style="width:110px") UserID
                                th(data-field='comment', style="width:450px") Comment
                                th(data-field='premium', style="width:60px") Premium
                        tbody(style="height:350px;overflow-y:scroll;overflow-x:hidden;display:block")
                            //track-byに後で変更（変更部を更新にし，再描画を削減するため）
                            tr(v-for="commentDetail in commentDetails")
                                td  {{commentDetail.user_id}}
                                td  {{commentDetail.comment}}
                                td  {{commentDetail.premium}}
    script(type='text/javascript', src='/javascripts/components/broadcast_title.js')
    script(type='text/javascript', src='/javascripts/components/broadcast_name.js')
    script(type='text/javascript', src='/javascripts/components/broadcast_img.js')
    script(type='text/javascript', src='/javascripts/app_vue.js')
    script(type='text/javascript', src='/javascripts/comment_analyze.js')
    script(type='text/javascript', src='/javascripts/ux.js')
