doctype html
html
    head
        title!= title
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(type='text/css', rel="stylesheet", href="stylesheets/materialize.min.css", media="screen,projection")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        block header
    body
        script(src="javascripts/jquery-2.2.3.min.js")
        script(type='text/javascript', src='https://cdn.socket.io/socket.io-1.2.0.js')
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.min.js")

        block content

        script(type="text/javascript" src="javascripts/materialize.min.js")
