thead{
    display: block;
}
tbody{
    height: calc(100vh - 280px);
    overflow-y: scroll;
    display: block;
}

th{
    padding: 0px !important;
}

tbody > tr > td{
    padding: 10px 5px !important;
}
tr > .user-id{
    width: 20%;
}
tr > .user-comment{
    width: 70%;
}
tr > .user-type{
    width: 10%;
}

#owner_img img{
    height: 40px;
    width: 40px;
}
#owner_name h4{
    font-size: 20px;
}

#broadcast_title h5{
    font-size: 18px;
    margin: 0 auto;
}
